.custom-navbar {
  display: flex;
  background-color: var(--bs-primary);
  padding: 0.5rem;
  justify-content: space-between;
}

.nav-title-wrapper {
  display: flex;
}

.nav-logo {
  width: 50px;
  aspect-ratio: 1/1;
}

.nav-name {
  font: 1.6em sans-serif;
  font-weight: 600;
  margin: 0;
  align-self: center;
  padding-left: 8px;
}

.nav-menu {
}

.nav-menu-item {
}

.nav-user {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-user-avatar-wrapper {
  border-radius: 100px;
  overflow: hidden;
  width: 50px;
}
.nav-user-avatar {
  width: 100%;
}
.nav-user-name {
  display: flex;
  align-items: center;
  margin: 0 0.5rem;
}
.nav-user-name-text {
  margin: 0;
}

@media (min-width: 992px) {
}
