.custom-navbar {
  display: flex;
  position: fixed;
  background-color: var(--bs-primary);
  padding: 0.5rem;
  justify-content: space-between;
  width: 100%;
  z-index: 5;
  height: 4rem;
}

.nav-title-wrapper {
  display: flex;
}

.nav-logo {
  width: 50px;
  aspect-ratio: 1/1;
}

.nav-name {
  font: 1.6em sans-serif;
  font-weight: 600;
  margin: 0;
  align-self: center;
  padding-left: 8px;
}

.nav-menu {
  z-index: 10;
}

.nav-user {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-user:hover {
  cursor: pointer;
  color: greenyellow;
}
.nav-user-avatar-wrapper {
  border-radius: 100px;
  overflow: hidden;
  width: 50px;
  height: 100%;
}
.nav-user-avatar {
  object-fit: cover;
  width: 100%;
}
.nav-user-name {
  display: flex;
  align-items: center;
  margin: 0 0.5rem;
}
.nav-user-name-text {
  margin: 0;
  font-size: 1.3rem;
}
.nav-menu {
  border: 1px;
  box-shadow: 0 5px 8px 3px rgb(153, 153, 153);
  margin: 0 8px;
  border-radius: 10px;
  width: 320px;
  position: absolute;
  top: 67px;
  right: 0;
  background-color: rgb(254, 254, 254);
}
.nav-menu-dropdown {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 16px;
  margin: 0;
  z-index: 11;
}
.nav-tab {
  text-align: center;
  padding: 0 1.3rem;
  display: flex;
  align-items: center;
}
.nav-tab:hover {
  color: white;
  cursor: pointer;
  font-weight: 600;
}
.nav-select {
  border-bottom: 2px solid white;
  color: white;
  font-weight: 600;
}
.nav-link {
  text-decoration: none;
}

@media (min-width: 992px) {
}
