.expert-box {
    padding: 20px;
  }
  
  .search-expert {
    margin-bottom: 20px;
  }
  
  .expert {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
  }
  
  .expert img {
    max-width: 100px;
    border-radius: 50%;
  }
  