.expert-box {
  padding: 20px;
}

.search-expert {
  margin-bottom: 20px;
}

.expert {
  margin-bottom: 20px;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
}

.expert img {
  max-width: 100px;
  border-radius: 50%;
}
.expert-image-preview-wrapper {
  width: 300px;
}
.expert-image-preview {
  width: 100%;
}
.expert-avatar-wrapper {
  width: 200px;
  border-radius: 100px;
  overflow: hidden;
}
.expert-form {
  width: 700px;
}

@media screen and (max-width: 576px) {
  .expert-form {
    width: 100%;
  }
}
