<div>
  <button class="btn btn-danger m-3" id="return-button">Back</button>
  <div id="add-seller" class="page-redirect d-none">
    <h2>You are not yet a seller, list your car to become a seller.</h2>
    <div class="mx-4">
      <button class="btn btn-lg btn-primary m-3">List My Car</button>
    </div>
  </div>
  <div id="add-car" class="page-redirect d-none">
    <h2>You don't have any listing for sale</h2>
    <button class="btn btn-lg btn-primary">Add My Car</button>
  </div>
  <ul id="seller-listings" class="gallery gap-3"></ul>
</div>
<script>
  const user = {{{json user}}}
  const listings = {{{json listings}}}
  const expertId = {{{json expertId}}}
</script>
<script src="/scripts/hire.js"></script>
