<h1>Welcome to Heritage Ride</h1>

{{> searchBar}}
{{> partSearchBar}}

<div class="banner d-flex justify-content-center">
  <div class="align-self-center text-center">
    <h1 class="title ms-2">Welcome to Heritage Ride</h1>
    <h3 class="mb-4 fs-4">Drive the Legacy, Trade the Classics </p>
    {{> searchBar}}
  </div>
</div>