<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Heritage Ride - Home</title>
    <link rel="stylesheet" href="/public/index.css">
</head>

<body>
    <div class="container mt-4">
        <h1>Welcome to Heritage Ride</h1>

        {{> searchBar}}
        
    </div>
</body>

</html>