<main>
    <section>
        <div>
            Search bar
        </div>
        <div>
            hero
        </div>
    </section>

    <div>
        top car
    </div>

    <div>
        banner
    </div>

    <section>
        service
    </section>
    <div>
        why us
    </div>

    <div>
        contact us
    </div>

</main>

