<div class="div-center">
  <h2>Login</h2>
  <form id="login-submit">
    <div class="login-input mb-3">
      <div class="input-badge">
        <i class="fa-regular fa-user"></i>
      </div>
      <input
        class="input-no-border"
        type="text"
        id="username-login"
        placeholder="username"
      />
    </div>
    <div class="login-input mb-3">
      <div class="input-badge">
        <i class="fa-solid fa-lock"></i>
      </div>
      <input
        class="input-no-border"
        type="password"
        id="password-login"
        placeholder="password"
      />
    </div>
    <p class="text-danger m-1" id="login-message"></p>
    <input type="hidden" id="lastVisitedUrl" name="lastVisitedUrl" />
    <button
      type="submit"
      disabled
      id="login-submit-btn"
      class="btn btn-primary w-100"
    >
      Login
    </button>
  </form>
  <p>Don't have account? <a class="signup-link" id="signup-link">Sign up</a></p>
</div>

<script>
  window.appData = { loginUrl: "{{url}}" };
</script>
<script src="/scripts/submitLogin.js"></script>
