<h1>Login</h1>
<form id="login-submit">
  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1">@</span>
    <input
      class="signup-input"
      type="text"
      id="username-login"
      placeholder="username"
    />
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1">@</span>
    <input
      class="signup-input"
      type="password"
      id="password-login"
      placeholder="password"
    />
  </div>
  <button type="submit" id="login-submit" class="btn btn-primary">
    Login
  </button>
</form>
<p class="text-danger" id="login-message"></p>
<script>
  window.appData = { loginUrl: '{{url}}' };
</script>
<script src="/scripts/submitLogin.js">
</script>