<div class="div-center">
  <h2>Login</h2>
  <form id="login-submit">
    <div class="input-group mb-3">
      <span class="input-group-text">
        <i class="fa-regular fa-user"></i>
      </span>
      <input
        class="signup-input form-control"
        type="text"
        id="username-login"
        placeholder="username"
      />
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text">
        <i class="fa-solid fa-lock"></i>
      </span>
      <input
        class="signup-input form-control"
        type="password"
        id="password-login"
        placeholder="password"
      />
    </div>
    <p class="text-danger m-1" id="login-message"></p>
    <button type="submit" id="login-submit-btn" class="btn btn-primary w-100">
      Login
    </button>
  </form>

</div>

<script>
  window.appData = { loginUrl: '{{url}}' };
</script>
<script src="/scripts/submitLogin.js">
</script>