<h2 id="signup-title">Sign up</h2>

<form class="signup-box" id="signup-form">
  <label for="first-name-upload" hidden>First name</label>
  <input
    class="signup-input"
    type="text"
    id="first-name-upload"
    placeholder="first name"
  />
  <p class="text-danger hidden" id="first-name-upload-error">
    First name must be between 2 to 20 characters, and no space
  </p>

  <label for="last-name-upload" hidden>Last name</label>
  <input
    class="signup-input"
    type="text"
    id="last-name-upload"
    placeholder="last name"
  />
  <p class="text-danger hidden" id="last-name-upload-error">
    Last name must be between 2 to 20 characters, and no space
  </p>

  <label for="username-upload" hidden>User name</label>
  <input
    class="signup-input"
    type="text"
    id="username-upload"
    placeholder="username"
  />
  <p class="text-danger hidden" id="username-upload-error">
    Username must be between 5 to 20 characters, and no space
  </p>

  <label for="password-upload" hidden>Password</label>
  <input
    class="signup-input"
    type="password"
    id="password-upload"
    placeholder="password"
  />
  <p class="text-danger hidden" id="password-upload-error">
    Password must be between 10 to 30 characters, and no space
  </p>

  <label for="password-upload-2" hidden>Reenter password</label>
  <input
    class="signup-input"
    type="password"
    id="password-upload-2"
    placeholder="Re-enter password"
  />
  <p class="text-danger hidden" id="password-upload-2-error">
    Password does not match
  </p>

  <label for="email-upload" hidden>Email</label>
  <input
    class="signup-input"
    type="email"
    id="email-upload"
    placeholder="email"
  />
  <p class="text-danger hidden" id="email-upload-error">
    Email must be valid email address between 5 to 40 characters, and no space
  </p>

  <label for="address-upload" hidden>Address</label>
  <input
    class="signup-input"
    type="text"
    id="address-upload"
    placeholder="address"
  />
  <p class="text-danger hidden" id="address-upload-error">
    Address must be less than 50 characters
  </p>

  <p>Upload your avatar</p>
  <div>
    {{> uploadWidget id="upload-widget" cloudName=cloudinary.cloudName uploadPreset=cloudinary.presetName uploadValue="avatar-upload"}}
    <input hidden="true" id="avatar-upload" />

    <p class="text-danger" id="signup-message"></p>
  </div>
  <div class="display-flex-2">
    <button type="submit" id="signup-button" disabled class="btn btn-primary">
      Submit
    </button>
    <button type="button" id="signup-cancel-button" class="btn btn-danger">
      Cancel
    </button>
  </div>
</form>
<script>
  window.appData = { signupUrl: "{{signUpUrl}}" };
  {{#if user}}
    const user = {{{json user}}};
  {{else}}
    const user = null;
  {{/if}}
</script>
<script src="/scripts/signup.js"></script>
