<form class="signup-box" id="signup-form">
  <label for="first-name-upload" hidden>First name</label>
  <input
    class="signup-input"
    type="text"
    id="first-name-upload"
    placeholder="first name"
  />

  <label for="last-name-upload" hidden>Last name</label>
  <input
    class="signup-input"
    type="text"
    id="last-name-upload"
    placeholder="last name"
  />

  <label for="username-upload" hidden>User name</label>
  <input
    class="signup-input"
    type="text"
    id="username-upload"
    placeholder="username"
  />

  <label for="password-upload" hidden>Password</label>
  <input
    class="signup-input"
    type="password"
    id="password-upload"
    placeholder="password"
  />

  <label for="password-upload-2" hidden>Reenter password</label>
  <input
    class="signup-input"
    type="password"
    id="password-upload-2"
    placeholder="Re-enter password"
  />

  <label for="email-upload" hidden>Email</label>
  <input
    class="signup-input"
    type="email"
    id="email-upload"
    placeholder="email"
  />

  <label for="address-upload" hidden>Address</label>
  <input
    class="signup-input"
    type="text"
    id="address-upload"
    placeholder="address"
  />

  <p>Upload your avatar</p>
  <div>
    {{> uploadWidget id="upload-widget" cloudName=cloudinary.cloudName uploadPreset=cloudinary.presetName uploadValue="avatar-upload"}}
    <input hidden="true" id="avatar-upload" />

    <p class="text-danger" id="signup-message"></p>
  </div>
  <div class="display-flex-2">
    <button type="submit" id="signup-button" disabled class="btn-primary">
      Submit
    </button>
    <button type="button" id="signup-cancel-button" class="btn btn-danger">
      Cancel
    </button>
  </div>
</form>
<script>
  window.appData = { signupUrl: "{{signUpUrl}}" };
</script>
<script src="/scripts/signup.js"></script>
