@import url("components/nav.css");
@import url("components/footer.css");
@import url("components/body.css");
@import url("layouts/grid.css");
@import url("layouts/flex.css");
@import url("pages/home.css");
@import url("pages/login.css");
@import url("pages/signup.css");
@import url("pages/experts.css");
@import url("pages/user.css");
:root {
  --bs-primary: #fbb23b;
  --bs-secondary: #e1dfae;
  --bs-success: #88ff33;

  --border-p: 8px;
}

.main {
  margin-top: 4rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

body {
  font-family: "Arial", sans-serif; /* Custom font family */
  font-size: 16px; /* Custom font size */
  line-height: 1.5; /* Custom line height */
  height: 100vh;
  display: flex;
  flex-direction: column;
}

var h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", sans-serif; /* Custom font for headings */
  font-weight: bold; /* Custom font weight for headings */
}
ul {
  list-style-type: none;
}
hr {
  margin: 0;
}

.custom-font {
  font-family: "Courier New", monospace; /* Example of a custom font for specific elements */
}

.input-group {
  width: 100%;
}

.link {
  text-decoration: none;
  color: black;
}

.badge-icon {
  height: 100%;
}

.err-message {
  color: rgb(255, 54, 54);
  display: none;
}

.text-cap {
  text-transform: capitalize;
}

.page-redirect {
  margin: auto;
  text-align: center;
  margin-top: 4rem;
}

.snapshot {
  max-width: 330px;
}

.loading-spinner {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #ffa516 94%, #0000) top/8px 8px
      no-repeat,
    conic-gradient(#0000 30%, #ffa516);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: l13 1s infinite linear;
}
@keyframes l13 {
  100% {
    transform: rotate(1turn);
  }
}
