<div class="text-center d-flex flex-column gap-4 mt-5">
  <h1>Add listings for free</h1>
  <p>
    Add your listings for free and enjoy our secure and hussle free service.
  </p>
  <div class="container d-flex gap-4">
    <section class="card shadow flex-grow-1 p-4">
      <h2>Car</h2>
      <i class="fa-solid fa-car fs-2 m-3 text-info"></i>
      <a
        href="/listings/create?itemtype=car"
        class="text-white text-decoration-none"
      >
        <button class="btn btn-primary w-100">Add Listing</button>
      </a>
    </section>
    <section class="card shadow flex-grow-1 p-4">
      <h2>Part</h2>
      <i class="fa-solid fa-gears fs-2 m-3 text-secondary"></i>
      <a
        class="text-white text-decoration-none"
        href="/listings/create?itemtype=part"
      >
        <button class="btn btn-primary w-100">Add Listing</button>
      </a>
    </section>
  </div>
  <button class="btn btn-danger" id="add-listing-cancel">Cancel</button>
</div>
