<div class="custom-navbar">
  <img class="nav-logo" src="images/logo-white.svg" alt="" />
  <h1 class="nav-name">HerritageRide</h1>
  <div id="nav-menu" class="nav-menu">

  </div>
  <div id="nav-user" class="nav-user">

  </div>
</div>