<div class="w-100 seller-hero">
  <div class="seller-hero-left gap-4">
    <h2>Trading Your Collection</h2>
    <p>Add your car or part for sell, we take care of the troubles for you.</p>
    <button class="btn btn-primary" id="add-listing">Add Listing</button>
  </div>
  <div class="seller-bg-image">
    <img src="/images/vintage-car.jpeg" alt="vintage car" class="w-100" />
  </div>

  <div></div>
</div>
